@page "/"

<h1 class="page-title text-center m-4">Welcome to the Restaurant HRM!</h1>
<br />
<div class="text-center d-xl-flex">
    <div>
        <h4 class="text-center mh-100">Using this application, you can manage our wonderful staff working for us all over the world.</h4>
    </div>
    <img src="images/manage.svg" alt="Women sitting on the desk">
</div>

